$space-large: 2.5rem;

.page-title {
  margin-top: $space-large;
  margin-bottom: $space-large;
}

.navs-underlined {
  text-decoration: underline red;
  box-shadow: grey;
}

input[type=search] {
  box-shadow: none;
}
